.aboutUs {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  
  .aboutSandy,
  .aboutSharon {
    padding-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    p {
      padding: 10px 0 50px 20px;
    }
  }
  .imageContainer {
    width: 40%;
    height: 250px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  .textContainer {
    width: 60%;
    height: 250px;
  }
}

h3 {
  padding-top: 30px;
  padding-left: 20px;
  @include logoText;
  color: $redOrange;
  font-size: 3.5rem;
}