@import "mediaQueries";

nav {
  width: 100%;
  height: 50px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;

  .logo {
    display: flex;
    align-items: center;
    justify-items: center;

    a {
      @include logoText;
      font-size: 4rem;
      display: inline-block;
      color: $redOrange;
    }
  }

  .navLinks {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      @include headerText;
      font-size: 2rem;
      display: inline-block;
      padding-left: 30px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
  }
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  h1 {
    @include logoText;
    font-size: 5.5rem;
    letter-spacing: 1.2px;
    color: $seaGreen;
    width: 500px;
    margin: 80px 0;
    @include tablet {
      font-size: 5rem;
    }
    @include mobile {
      font-size: 4rem;
      width: 100%;
    }
  }

  .headerImage {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    @include tablet {
      overflow: hidden;
    }
    img {
        @include tablet {
            width: 130%;
            object-fit: cover;
            object-position: center;
            margin-left: -15%;
          }
        @include mobile {
            width: 160%;
            margin-left: -35%;
          }
          @include smallMobile {
            width: 200%;
            margin-left: -55%;
          }
    }
  }

  .headerText {
    margin: 120px auto;
  }
}
