@import "mediaQueries";

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;

  .startingLocationContainer,
  .endLocationContainer {
    width: calc(50% - 25px);

    .startingLocation,
    .endLocation {
      width: 100%;
    }

    .startingLocation,
    .numberOfBikes {
      padding-right: 25px;
    }

    .endLocation,
    .numberOfDocks {
      padding-left: 25px;
    }

    input,
    select {
      width: 100%;
      padding-left: 10px;
    }
  }

  .submitButtonContainer {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    .submitUserInput {
      text-transform: uppercase;
      @include headerText;
      letter-spacing: 2px;
      font-size: 2rem;
      padding: 8px 40px;
      background-color: $seaGreen;
      color: $white;
      border: 2px solid rgb(43, 119, 76);
      border-radius: 8px;
    }
  }

  select,
  input {
    border: 2px solid $border;
    border-radius: 5px;
    font-size: 1.8rem;
    padding: 8px 0 8px 5px;
    color: $mediumGrey;
  }

  select {
    background: url(../assets/arrow2.svg) no-repeat right center;
    background-size: 2.8rem auto, 100%;
    background-color: $white;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}

.userInput {
  h2 {
    font-size: 4rem;
    text-align: center;
    color: $seaGreen;
    letter-spacing: 4px;
    padding-bottom: 20px;
  }

  h3 {
    font-size: 2.3rem;
    letter-spacing: 2px;
    color: $seaGreen;
    margin-bottom: 5px;
  }

  .startingLocation,
  .numberOfBikes,
  .numberOfDocks,
  .endLocation {
    margin: 30px 0;
  }
}

.startingStation, .endStation {
  border: 2px solid $border;
  background-color: $white;
  width: 100%;
  margin: 30px auto;
  padding: 40px 70px 40px 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;

  .startingStationLocation, .endStationLocation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    .stationName {
      @include headerText;
      color: $redOrange;
      font-size: 2.3rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 1.5;
      padding-bottom: 10px;
    }
    .distance {
      font-size: 2rem;
      color: $lightGrey;
      letter-spacing: 1px;
    }
  }
  .startingStationBikesAvailable, .endStationDocksAvailable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    .bikesAvailable, .docksAvailable {
      @include headerText;
      letter-spacing: 2px;
      font-size: 4rem;
      color: $seaGreen;
    }
    .bikesAvailableText, .docksAvailableText {
      font-size: 2rem;
      color: $lightGrey;
      letter-spacing: 1px;
    }
  }
}